.workSection {
  position: relative;

  .textWork {
    height: 50vh;
    h1 {
      font-size: 2rem;
      margin-bottom: -0.75rem;
    }
    span {
      font-size: 1rem;
    }
  }
  .imageWork {
    height: 50vh;
    position: relative;
    @media (max-width: 1024px) {
      height: max-content;
    }
    .smallImage {
      position: absolute;
      left: 1rem;
      top: 1rem;
      height: 25vh;
    }
    .smallImage2 {
      position: absolute;
      right: 1rem;
      top: 1rem;
      height: 25vh;
    }
    .bigImage {
      height: 90%;
    }
  }
}
.nadpisWork {
  height: max-content;
  h1 {
    font-size: 14vw;
    font-weight: bolder;
    letter-spacing: -0.5vw;
    color: rgb(245, 245, 245);
  }
}
