.rightText {
  height: 100vh;
  @media (max-width: 1024px) {
    height: max-content;
  }
  .textBox {
    height: max-content;
    h1 {
      font-size: 2rem;
      margin-bottom: -0.5rem;
    }
    span {
      font-size: 1.25rem;
      font-weight: thin;
    }
  }
}
.leftImage {
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  visibility: hidden;
}
.img-container {
  width: max-content;
  position: relative;
  overflow: hidden;
  @media (max-width: 780px) {
    width: max-content;
  }
  &:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    top: 0;
    right: 0;
  }
  img {
    width: 60rem;
    margin: 0 auto;
    @media (max-width: 780px) {
      width: 20rem;
    }
  }
}
