.oneContactsContainer {
  height: 45vh;

  .dlouhyImage {
    height: 90%;
    padding: 1rem;
    width: max-content;
    object-fit: cover;
  }
}
.contactsInfoContainer {
  min-height: 55vh;
  h1 {
    font-size: 13vw;
  }
  p {
    margin-top: -1rem;
  }
}
