.sectionFooter {
  /*   .bigFooterText {
    h1 {
      padding: 1rem 2rem;
      font-size: 3vw;
      font-weight: bolder;
      letter-spacing: -1.25px;
      color: #0c0c0c;
      word-spacing: 7px;
    }
  } */
  .infoFooter {
    height: max-content;
    .linksFooter {
      height: 40vh;
      ul {
        line-height: 4.5rem;
        li {
          font-size: 1.35rem;
        }
      }
    }
    div {
      button {
        background: rgb(63, 63, 63);
        font-size: 1rem;
        color: #fff;
        padding: 1rem;
        border-radius: 100%;
        border: none;
        outline-style: none;
      }
    }
  }
}
