.oneImageContainer {
  height: 45vh;

  .dlouhyImage {
    height: 90%;
    padding: 1rem;
    width: max-content;
    object-fit: cover;
  }
}
.imageInfoContainer {
  min-height: 55vh;
  h1 {
    font-size: 13vw;
  }
  p {
    margin-top: -1rem;
  }
}
.infoDiv {
  h1 {
    font-size: 2rem;
  }
  padding: 3rem 0rem;
  p {
    text-align-last: center;
  }
}
