.navbarButton_Wrapper {
  position: absolute;
  right: 2rem;
  bottom: 2rem;
  height: 5rem;
  width: 5rem;
  cursor: pointer;
  z-index: 100;
  background: red;
}
.sectionNav {
  position: fixed;
  bottom: 0rem;
  right: 0rem;
  z-index: 10;
  width: 100%;
}
.prechod1 {
  width: 100%;
  background: rgb(221, 221, 221);
  height: 150vh;
  position: absolute;
  top: 2rem;
  left: 0rem;
  z-index: 15;
}
.prechod2 {
  width: 100%;
  background: rgb(236, 236, 236);
  height: 150vh;
  position: absolute;
  top: 2rem;
  left: 0rem;
  z-index: 20;
}
.wrapperList {
  width: 100%;
  height: 110vh;
  position: absolute;
  top: 2rem;
  left: 0rem;
  z-index: 30;
  background: #fff;
}
ul {
  li {
    font-size: 3rem;
    cursor: pointer;
  }
}
.backgroundDiv {
  background-image: url("../../../images/Moutains.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
