.infoSection {
  .longImage {
    height: 120vh;
    position: relative;
    img {
      height: 115vh;
      object-fit: cover;
    }
  }
  .infoText2 {
    height: 40vh;
    background: lightgray;
  }
}
.textAbout {
  min-height: 40vh;
  h1 {
    font-size: 2rem;
  }
  p {
    text-align-last: right;
    @media (max-width: 1024px) {
      text-align-last: center;
    }
  }
  button {
    outline: none;
    border: 1px solid rgb(82, 82, 82);
    border-radius: 3px;
    padding: 0.1rem 1.75rem;

    &:hover {
      background: rgb(41, 41, 41);
      color: #fff;
    }
  }
}
.cara {
  position: absolute;
}
