$base-color: #c6538c;
$main: #dddddd;
$white: #ffffff;
$black: #1e1f13;

@import "./components/Main/styles/Main";
@import "./components/Info/styles/Info";
@import "./components/Work/styles/Work";
@import "./components/Footer/styles/Footer";
